/* Sección principal (hero) */
.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
  position: relative; /* Necesario para posicionar el botón */
}

/* Botón "Volver atrás" */
.back-button {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical */
  left: 20%;
  transform: translateX(-50%); /* Centra el botón horizontalmente */
  color: black;
  font-size:2rem; /* 18px */
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
}

.back-button:focus {
  outline: none; /* Evita que el borde azul aparezca cuando se hace focus */
}

.back-button:hover {
  color: blue; /* Efecto hover más oscuro */
}

/* Estilos para la imagen */
.image-hero {
  width: 100%;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  object-fit: cover; /* Asegura que la imagen se ajuste bien */
}

/* Título */
.title-h1 {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 20px;
  line-height: 1.2;
}

/* Datos (autor y fecha) */
.data {
  margin-top: -50px;
  color: #6b7280; /* Gris */
  font-size: 1.125rem; /* 18px */
  text-align: center;
  margin-bottom: -50px;
}

/* Estilos del contenido */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border-top: gray 1px solid;
  font-size: 1.5rem; /* 24px */
}

/*RESPONSIVE*/

@media (width <= 768px) {
  .title-h1 {
    font-size: 2.75rem; /* 32px */
  }

  .image-hero {
    max-width: 100%;
  }

  .data {
    font-size: 1rem; /* 16px */
    margin-top: -10px;
  }

  .back-button {
    font-size: 1.5rem; /* Tamaño más pequeño en móvil */
    padding: 8px 16px;
    padding-left: 100px;
  }
}

@media (width >= 768px) {
  .back-button {
    font-size: 1.5rem; /* Tamaño más pequeño en móvil */
    padding: 8px 16px;
  }
}