---
import Layout from "../layouts/Layout.astro";
import Articles from "../sections/Articles.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="" description="">
  <main>
    <Hero />
    <Articles />
  </main>
</Layout>
