---
import Layout from "../layouts/Layout.astro";
import Articles from "../sections/Articles.astro";
import Hero from "../sections/Hero.astro";
import SocialsSection from "../sections/SocialsSection.astro";
---

<Layout
  title="DayNews"
  description="Bienvenido a mi increíble sitio web, aquí encontrarás las últimas noticias de tecnología, deportes, entretenimiento y mucho más."
  keywords="HTML, CSS, JavaScript, Astro"
  author="Martinez Agustin"
  locale="es_ES"
  url="https://daynews.vercel.app"
  image=""
>
  <main>
    <Hero />
    <Articles />
    <SocialsSection />
  </main>
</Layout>
