---
import Layout from "../layouts/Layout.astro";
import HeroSearch from "../sections/HeroSearch.astro";
---

<Layout title="" description="">
  <main class="">
    <HeroSearch />
  </main>
</Layout>
