---
import Layout from "../layouts/Layout.astro";
import HeroSearch from "../sections/HeroSearch.astro";
---

<Layout
  title="DayNes | Search"
  description="Aqui podras buscar tus noticias favoritas"
  keywords=""
  author="Martinez Agustin"
  locale="es_ES"
  url="https://daynews.vercel.app/search"
  image=""
>
  <main class="">
    <HeroSearch />
  </main>
</Layout>
