---
const { title, date, image } = Astro.props;
---

<div class="w-72 h-60 rounded-xl max-md:w-72 max-md:h-60 hover:transition-all duration-500 hover:scale-105 shadow-lg gap-1 flex flex-col bg-white">
  <div class="w-auto">
    <!-- Usar la imagen proporcionada, si no hay imagen, mostrar una imagen predeterminada -->
    <img src={image || '/images/default.jpg'} alt={title} class="rounded-t-xl" />
  </div>
  <div>
    <h2 class="px-3 py-3 flex justify-start items-center text-2xl font-semibold text-pretty -mb-2">
      {title || 'Sin título'}
    </h2>
    <p class="px-4 flex justify-start items-center text-pretty text-xs">
      {date || 'Fecha no disponible'}
    </p>
  </div>
</div>