---
import SearchLogo from "../icons/SearchLogo.astro";
---

<header class="shadow shadow-black">
  <nav class="max-w-4xl mx-auto px-3 md:px-10 lg:px-0">
    <ol class="flex flex-wrap justify-between items-center mx-auto h-20">
      <a href="/" class="text-3xl font-serif font-bold">NEWSDAY</a>
      <a href="search">
        <SearchLogo />
      </a>
    </ol>
  </nav>
</header>
