<section
  class="max-5xl mx-auto flex flex-col justify-center items-center mt-28"
>
  <h1 class="text-8xl font-bold text-pretty">SEARCH</h1>
  <p class="text-xl mt-3">Search all articles</p>
  <form action="">
    <input type="text" class="border h-10 w-4xl mt-10 rounded-lg px-3" placeholder="Search ..">
  </form>
</section>
