---
import IGLogo from "../icons/IGLogo.astro";
import WSPLogo from "../icons/WSPLogo.astro";
---

<section class="flex justify-center items-center gap-4 mt-10">
  <IGLogo />
  <WSPLogo />
</section>
