---
import ButtonSeeAll from "../components/ui/ButtonSeeAll.astro";
import IGLogo from "../icons/IGLogo.astro";
import WSPLogo from "../icons/WSPLogo.astro";
---

<section class="flex flex-col justify-center items-center gap-4 mt-10">
  <ButtonSeeAll />
  <div class="flex justify-center items-center gap-4">
    <IGLogo />
    <WSPLogo />
  </div>
</section>
