---
import ArrowLeft from "../../icons/ArrowLeft.astro";
---

<a href="/categories" class="flex  justify-center items-center text-center gap-2 mt-10 hover:text-blue-500 text-gray-500 "
  >See all
  <ArrowLeft />
</a>
